@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    [x-cloak] {
        display: none !important;
    }
}

@layer utilities {
    .text-gradient-spectrum {
        background-image: linear-gradient(90deg, #67e8f9, #e879f9, #fb923c, #fcd34d);
        -webkit-background-clip: text;
        background-clip: text;
        color: #a5f3fc;
    }

    @supports (background-clip: text) or (-webkit-background-clip: text) {
        .text-gradient-spectrum {
            color: transparent;
        }
    }

    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
}
